<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuli.micafe">


    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:label="MiCafé"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/Base.Theme.MyApplication"
        android:supportsRtl="true">


        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" />
        <activity android:name=".CategoriasActivity" />
        <activity android:name=".ListaProductosActivity" />
        <activity android:name=".DetalleProductoActivity" />
        <activity android:name=".PerfilActivity"/>
        <activity android:name=".CarritoActivity" />
        <activity android:name=".ConfirmarActivity" />
        <activity android:name=".ConfiguracionActivity" />
        <activity android:name=".PedidoListActivity" />
        <activity android:name=".RegistrarActivity"/>
        <activity android:name=".HomeActivity"/>


        <activity
            android:name=".SeguimientoActivity"
            android:exported="false" />
    </application>
</manifest>